
<% unless comment.parent_id || !comment.persisted? %>
  <div class="card m-2">
    <div class="card-body">
      <%= comment.body %>

      <% if comment.replies.any? %>
        <% comment.replies.each do |reply| %> 
          <%= render partial: 'comments/reply', locals: { reply: reply } %>
        <% end %>
      <% end %>
      <%= link_to 'reply', new_post_comment_path(@post, parent_id: comment.id), remote: true, class: 'd-block' %>
    </div>
  </div>
<% end %>
